body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    box-shadow:box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 

    
  }
  
  .calculator {
    width: 400px; /* Adjust as necessary */
    background-color: #f0f0f0; /* Background color */
    padding: 20px; /* Space inside the box */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
  }
  
  
  .display {

    background: #c6baba;
    
    color: #161111;
    font-size: 2.5em;
    text-align: right;
    padding: 9px;
    height: 50px;
    border-radius: 6px;
    margin-top: 50px;
    overflow-x: auto;
    margin-bottom: 10px;
  }
  
  .buttons {
    display: grid;
    gap:15px;
    grid-template-columns: repeat(4, 1fr);
  }
  
  
  .btn {
    font-size: 1.2em;
    padding: 20px;
    border: 1px solid #ddd;
    background: #546eba;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    font-size: x-large;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background: #e0e0e0;
  }
  
  .operator {
    color: white;
    background: #546eba;

  }
  
  .operator:hover {
    background: #ff7849;
  }
  
  .equal {
    background: #00c851;
    color: white;
    grid-column: span 4;
  }
  
  .equal:hover {
    background: #007e33;
  }
  
  .clear {
    background: #ff4444;
    color: white;
  }
  
  .clear:hover {
    background: #cc0000;
  }
  